<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- start: Header -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Adauga un nou proiect!</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post" th:object="${project}" th:action="@{/project/save}">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="name">Nume</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="name" type="text" th:field="*{name}"/>
                                    </div>
                                    <div id="nameError"
                                         th:if="${#fields.hasErrors('name')}"
                                         th:errors="*{name}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="description">Descriere</label>
                                    <div class="controls">
                                        <textarea class="focused input-xlarge" id="description" th:field="*{description}"/>
                                    </div>
                                    <div id="descriptionError"
                                         th:if="${#fields.hasErrors('description')}"
                                         th:errors="*{description}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="teh">Tehnologii</label>
                                    <div class="controls">
                                        <textarea class="focused input-xlarge" id="teh" th:field="*{technologies}"/>
                                    </div>
                                    <div id="technologiesError"
                                         th:if="${#fields.hasErrors('technologies')}"
                                         th:errors="*{technologies}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="specifications">Specificatii</label>
                                    <div class="controls">
                                        <textarea class="focused input-xlarge" id="specifications" th:field="*{specifications}"/>
                                    </div>
                                    <div id="specificationsError"
                                         th:if="${#fields.hasErrors('specifications')}"
                                         th:errors="*{specifications}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="languages">Limbi straine</label>
                                    <div class="controls">
                                        <textarea class="focused input-xlarge" id="languages" th:field="*{languages}"/>
                                    </div>
                                    <div id="languagesError"
                                         th:if="${#fields.hasErrors('languages')}"
                                         th:errors="*{languages}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="daysToFinalize">Termen de finalizare</label>
                                    <div class="controls">
                                        <input type="number" class="focused input-xlarge" id="daysToFinalize" th:field="*{daysToFinalize}"/>
                                    </div>
                                    <div id="daysToFinalizeError"
                                         th:if="${#fields.hasErrors('daysToFinalize')}"
                                         th:errors="*{daysToFinalize}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="noOfPeople">Numar de oameni</label>
                                    <div class="controls">
                                        <input type="number" class="focused input-xlarge" id="noOfPeople" th:field="*{noOfPeople}"/>
                                    </div>
                                    <div id="noOfPeopleError"
                                         th:if="${#fields.hasErrors('noOfPeople')}"
                                         th:errors="*{noOfPeople}" style="color: red"></div>
                                </div>

                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Salveaza</button>
                                    <button class="btn">Renunta</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->


<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
