<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body>
<!-- start: Header -->
<div th:replace="fragments/navbar :: navbar"></div>
<!-- start: Header -->

<div class="container-fluid-full">
    <div class="row-fluid">

        <!-- start: Main Menu -->
        <div th:replace="fragments/menu :: menu"></div>
        <!-- end: Main Menu -->

        <noscript>
            <div class="alert alert-block span10">
                <h4 class="alert-heading">Warning!</h4>
                <p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
            </div>
        </noscript>

        <!-- start: Content -->
        <div id="content" class="span10">

            <div class="row-fluid sortable">
                <div class="box span12">
                    <div class="box-header">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Profilul meu</h2>
                        <div class="box-icon">
                            <a href="#" class="btn-setting"><i class="halflings-icon white wrench"></i></a>
                            <a href="#" class="btn-minimize"><i class="halflings-icon white chevron-up"></i></a>
                            <a href="#" class="btn-close"><i class="halflings-icon white remove"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form class="form-horizontal" method="post" th:object="${profile}" th:action="@{/profile/save}">
                            <fieldset>
                                <input type="hidden" th:field="*{id}"/>
                                <div class="control-group">
                                    <label class="control-label" for="firstName">Prenume</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="firstName" type="text" th:field="*{firstName}"/>
                                    </div>
                                    <div id="nameError"
                                         th:if="${#fields.hasErrors('firstName')}"
                                         th:errors="*{firstName}" style="color: red"></div>
                                     </div>

                                <div class="control-group">
                                    <label class="control-label" for="lastName">Nume</label>
                                    <div class="controls">
                                        <input class="input-xlarge focused" id="lastName" type="text" th:field="*{lastName}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('lastName')}"
                                         th:errors="*{lastName}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="description">Descriere</label>
                                    <div class="controls">
                                        <textarea class="focused" id="description" th:field="*{description}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('description')}"
                                         th:errors="*{description}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="technologies">Tehnologii</label>
                                    <div class="controls">
                                        <textarea class="focused" id="technologies" th:field="*{technologies}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('technologies')}"
                                         th:errors="*{technologies}" style="color: red"></div>
                                </div>

                              <!--  <div class="control-group">
                                    <label class="control-label" for="language">Limbi straine</label>
                                    <div class="controls">
                                        <textarea class="focused" id="language" th:field="*{language}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('language')}"
                                         th:errors="*{language}" style="color: red"></div>
                                </div>-->

                                <div class="control-group">
                                    <label class="control-label" for="birthday">Data nasterii</label>
                                    <div class="controls">
                                        <input type="date" class="input-xlarge focused" id="birthday" th:field="*{birthday}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('birthday')}"
                                         th:errors="*{birthday}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="experience">Experienta</label>
                                    <div class="controls">
                                        <textarea class="focused" id="experience" th:field="*{experience}"/>
                                    </div>
                                    <div
                                         th:if="${#fields.hasErrors('experience')}"
                                         th:errors="*{experience}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="education">Educatie</label>
                                    <div class="controls">
                                        <textarea class="focused" id="education" th:field="*{education}"/>
                                    </div>
                                    <div
                                            th:if="${#fields.hasErrors('education')}"
                                            th:errors="*{education}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="city">Oras</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge focused" id="city" th:field="*{city}"/>
                                    </div>
                                    <div
                                            th:if="${#fields.hasErrors('city')}"
                                            th:errors="*{city}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="phoneNumber">Numar de telefon</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge focused" id="phoneNumber" th:field="*{phoneNumber}"/>
                                    </div>
                                    <div
                                            th:if="${#fields.hasErrors('phoneNumber')}"
                                            th:errors="*{phoneNumber}" style="color: red"></div>
                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="email">Email</label>
                                    <div class="controls">
                                        <input type="text" class="input-xlarge focused" id="email" th:field="*{email}"/>
                                    </div>
                                    <div
                                            th:if="${#fields.hasErrors('email')}"
                                            th:errors="*{email}" style="color: red"></div>
                                </div>


                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary">Salveaza</button>
                                    <button class="btn">Renunta</button>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div><!--/span-->

            </div><!--/row-->

        </div><!--/.fluid-container-->

        <!-- end: Content -->
    </div><!--/#content.span10-->
</div><!--/fluid-row-->


<div class="clearfix"></div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
