<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head"></head>
<body style="background: #fff;">
<div class="navbar">
    <div class="navbar-inner">
        <div class="container-fluid">

            <a class="brand" href="index.html"><span>JANUX</span></a>

            <!-- start: Header Menu -->
            <div class="nav-no-collapse header-nav">
                <ul class="nav pull-right">

                    <!-- start: User Dropdown -->
                  <!--  <li class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="halflings-icon white user"></i> Dennis Ji
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-menu-title">
                                <span>Account Settings</span>
                            </li>
                            <li><a href="#"><i class="halflings-icon user"></i> Profile</a></li>
                            <li><a href="login.html"><i class="halflings-icon off"></i> Logout</a></li>
                        </ul>
                    </li>-->
                    <!-- end: User Dropdown -->
                </ul>
            </div>
            <!-- end: Header Menu -->

        </div>
    </div>
</div>
<div class="container-fluid-full">


            <div class="row-fluid sortable">
                <div class="box span8 offset2" style="margin-top: 100px;">
                    <div class="box-header">
                        <h2><i class="halflings-icon white edit"></i><span class="break"></span>Formular
                            de inregistrare</h2>

                        <div class="box-icon">
                            <a href="#" class="btn-minimize"><i
                                    class="halflings-icon white chevron-up"></i></a>
                        </div>
                    </div>
                    <div class="box-content">
                        <form name="form" th:action="@{/register}" method="POST"
                              class="form-horizontal">
                            <fieldset>
                                <div class="control-group">
                                    <label class="control-label" for="username">Username: </label>

                                    <div class="controls">
                                        <input type="text" name="username"
                                               th:field="*{user.username}"
                                               placeholder="Username" class="input-xlarge focused"
                                               id="username"/>
                                    </div>
                                    <div id="usernameError"
                                         th:if="${#fields.hasErrors('user.username')}"
                                         th:errors="*{user.username}" style="color: red"></div>

                                </div>

                                <div class="control-group">
                                    <label class="control-label" for="password">Username: </label>

                                    <div class="controls">
                                        <input type="password" name="password"
                                               placeholder="Password"
                                               th:field="*{user.password}" id="password"
                                               class="input-xlarge focused"/>
                                    </div>
                                    <div id="passwordError"
                                         th:if="${#fields.hasErrors('user.password')}"
                                         th:errors="*{user.password}"
                                         style="color: red"></div>
                                </div>
                                <div class="form-actions">
                                    <button type="submit" class="btn btn-primary" id="register"
                                            value="Register">Inregistreaza!
                                    </button>
                                    <button class="btn">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
